__pycache__/
*.py[cod]
*$py.class
*.so
.cache

.env
.venv/
venv/
ENV/

tests/
run_tests.py

.DS_Store

.vscode/
.idea/

logs/
data/
.ipynb_checkpoints

# большие куртки
*.bin
*.safetensors
*.pkl
shared/sbert_large_nlu_ru/
model.safetensors
pytorch_model.bin
faiss_index.bin
lexical_index.pkl 